---
# -----------------------------------------------------------------------------
# Baseline setup
# -----------------------------------------------------------------------------
- name: Ensure minimum Apt packages for configuring Apt sources.
  ansible.builtin.apt:
    install_recommends: false
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - software-properties-common
    state: present
    update_cache: '{{ avinode_devenv_packages_update_cache }}'
  become: '{{ avinode_devenv_become_for_all }}'


# -----------------------------------------------------------------------------
# Calculate facts
# -----------------------------------------------------------------------------
- name: Fetch distribution release's short name
  ansible.builtin.command:
    cmd: lsb_release --codename --short
    strip_empty_ends: true
  changed_when: false
  register: _apt_sources_distribution_short_name_output

- name: Set package distribution short name fact.
  ansible.builtin.set_fact:
    _packages_distribution_short_name: '{{ _apt_sources_distribution_short_name_output.stdout_lines | first }}'


# -----------------------------------------------------------------------------
# Process source repositories
# -----------------------------------------------------------------------------
# -- Helm --
- name: Ensure Helms's GPG key for Apt
  ansible.builtin.apt_key:
    id: '0x62BA89D07698DBC6'
    url: https://packages.buildkite.com/helm-linux/helm-debian/gpgkey
    state: present
  become: '{{ avinode_devenv_become_for_all }}'
  notify: update_apt_cache
  when: avinode_apt_sources_helm

- name: Ensure Helm's Apt repository
  ansible.builtin.apt_repository:
    repo: "deb https://packages.buildkite.com/helm-linux/helm-debian/any/ any main"
    state: present
  become: '{{ avinode_devenv_become_for_all }}'
  notify: update_apt_cache
  when: avinode_apt_sources_helm


  # -- Kubernetes --
  # Information can be found in:
  #   - https://kubernetes.io/blog/2023/08/15/pkgs-k8s-io-introduction/
  #   - https://kubernetes.io/blog/2023/08/31/legacy-package-repository-deprecation/
- name: Ensure Kubernetes's GPG key for Apt
  ansible.builtin.apt_key:
    id: '0x234654DA9A296436'
    url: https://pkgs.k8s.io/core:/stable:/v1.28/deb/Release.key
    state: present
  become: '{{ avinode_devenv_become_for_all }}'
  notify: update_apt_cache
  when: avinode_apt_sources_kubernetes

- name: Ensure Kubernetes's v1.29 Apt repository
  ansible.builtin.apt_repository:
    repo: "deb https://pkgs.k8s.io/core:/stable:/v1.29/deb/ /"
    state: present
  become: '{{ avinode_devenv_become_for_all }}'
  notify: update_apt_cache
  when: avinode_apt_sources_kubernetes

- name: Ensure Kubernetes's v1.28 Apt repository
  ansible.builtin.apt_repository:
    repo: "deb https://pkgs.k8s.io/core:/stable:/v1.28/deb/ /"
    state: present
  become: '{{ avinode_devenv_become_for_all }}'
  notify: update_apt_cache
  when: avinode_apt_sources_kubernetes

- name: Ensure Kubernetes's v1.27 Apt repository
  ansible.builtin.apt_repository:
    repo: "deb https://pkgs.k8s.io/core:/stable:/v1.27/deb/ /"
    state: present
  become: '{{ avinode_devenv_become_for_all }}'
  notify: update_apt_cache
  when: avinode_apt_sources_kubernetes


  # -- NodeJS 20 --
- name: Ensure Node.js's GPG key for Apt
  ansible.builtin.apt_key:
    id: '0x2F59B5F99B1BE0B4'
    url: 'https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key'
    state: present
  become: '{{ avinode_devenv_become_for_all }}'
  notify: update_apt_cache
  when: avinode_apt_sources_nodejs20

- name: Ensure Node.js's 20.x Apt repository
  ansible.builtin.apt_repository:
    repo: "deb https://deb.nodesource.com/node_20.x nodistro main"
    state: present
  become: '{{ avinode_devenv_become_for_all }}'
  notify: update_apt_cache
  when: avinode_apt_sources_nodejs20


  # -- Yarn --
- name: Ensure Yarns's GPG key for Apt
  ansible.builtin.apt_key:
    id: '0x1646B01B86E50310'
    url: https://dl.yarnpkg.com/debian/pubkey.gpg
    state: present
  become: '{{ avinode_devenv_become_for_all }}'
  notify: update_apt_cache
  when: avinode_apt_sources_yarn

- name: Ensure Yarns's Apt repository
  ansible.builtin.apt_repository:
    repo: "deb https://dl.yarnpkg.com/debian stable main"
    state: present
  become: '{{ avinode_devenv_become_for_all }}'
  notify: update_apt_cache
  when: avinode_apt_sources_yarn


  # -- HashiCorp --
- name: Ensure HashiCorp's GPG key for Apt
  ansible.builtin.apt_key:
    id: '0xAA16FCBCA621E701'
    url: https://apt.releases.hashicorp.com/gpg
    state: present
  become: '{{ avinode_devenv_become_for_all }}'
  notify: update_apt_cache
  when:
    - avinode_apt_sources_hashicorp

- name: Ensure Hashicorp Apt repository
  ansible.builtin.apt_repository:
    repo: "deb https://apt.releases.hashicorp.com {{ _packages_distribution_short_name }} main"
    state: present
  become: '{{ avinode_devenv_become_for_all }}'
  notify: update_apt_cache
  when:
    - avinode_apt_sources_hashicorp
...
